output/Freq_vs_MutEffect/
output/Phen_vs_Regions/
output/logs_err/
output/logs_out/
scripts/Attempts/
output/1_Homogeneo_output/logs_err/
output/1_Homogeneo_output/logs_out/
output/1_Homogeneo_output/pruebas/
output/2_Heterogeneo_output/logs_err/
output/2_Heterogeneo_output/logs_out/
output/2_Heterogeneo_output/Freq_vs_MutEffect/
output/2_Heterogeneo_output/Phen_vs_Region/
output/2_Heterogeneo_output/pruebas/
